<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <title>Example Jquery</title>
    <link rel='stylesheet' href='/public/stylesheets/style.css' />
    <link rel='stylesheet' href='/node_modules/bootstrap/dist/css/bootstrap.css'/>
  </head>
  <body>
  <ng-include src="'/public/fragments/nav.html'"></ng-include>
  <div class="container" style="padding-top: 10px;">
    <ng-view></ng-view>
  </div>
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/angular/angular.js"></script>
    <script src="/node_modules/angular-route/angular-route.js"></script>

  <script src="/public/javascripts/app.js"></script>
  <script src="/public/javascripts/modules/main.js"></script>

  </body>
</html>
