<div ng-controller="NavController">
    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <!-- Button for smallest screens -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span
                            class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
                <a class="navbar-brand" href="/"><img height="40px" src="assets/images/MainLogoWhite.png"
                                                        alt="Mentor Software Logo"></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav pull-right">
                    <%var home=isActive('/');%>
                    <!--Angular template: Markup {{}}-->
                    <li id="liHome" class="<%=home%>"><a href="/">{{home}}</a></li>
                    <%var home=isActive('/angular');%>
                    <li id="liHome" class="<%=home%>"><a href="/angular">{{angular}}</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
    <!-- /.navbar -->
</div>
<header id="head" class="secondary"></header>

