<!--Angular template -->
<%include layout/head%>   <!-- EJS include -->

  <!-- Body tag augmented with ngController directive  -->
  <%include layout/nav%> <!-- EJS include -->

  <header id="head" class="secondary"></header>

  <div class="container">
    <!-- EJS Tags-->
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <!-- END EJS Tags-->
    {title}
  </div>

</body>
<%include layout/foot%> <!-- EJS include -->
</html>
