<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/assets/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='/assets/css/bootstrap-theme.css'/>
    <link rel='stylesheet' href='/assets/css/font-awesome.min.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>


