/** Body*/
body {
    padding-top: 60px;
    margin-top: 0px;
    padding-top: 0px
}

body.login
{
    background-color: #6096BD;
}
/**Templates*/
.starter-template,
.login-template {
    padding: 40px 15px;
    text-align: center;
}

.login-template
{
}

/**Containers */
.container-fluid {
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
}


.login-box {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 2px;
    margin: 100px auto;
    padding: 20px;
    width: 400px;
}
/*
.login-box input[type="text"], .login-box input[type="password"] {
  background: none repeat scroll 0 0 #E4E6EB;*/
    /*border: 0 none;
    border-radius: 2px;
    box-shadow: none;
    height: 40px;
    margin: 5px auto;
    padding: 0 10px;
}
*/
.login-box .form-group
{
    margin-left: 5px;
    margin-right: 5px;
}


/**
* DataTables
*/
div.dataTables_length label {
    width: 460px;
    float: left;
    text-align: left;
}

div.dataTables_length select {
    width: 75px;
}

div.dataTables_filter label {
    float: right;
    width: 240px;
}

div.dataTables_info {
    padding-top: 8px;
}

div.dataTables_paginate {
    float: right;
    margin: 0;
}

table {
    margin: 0 0;
    clear: both;
}

.dataTables_scroll .table
{
    margin-bottom: 0px;
    margin-top: 0px;
}